<!DOCTYPE html>
<html lang="en" dir="ltr" data-theme="garden" class="bg-base-300 scroll-smooth" id="html">

<head>
  <meta charset="utf-8">
  <title>Weather App</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
    integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="output.css">
  <link rel="stylesheet" href="style.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/9982dda365.js" crossorigin="anonymous"></script>
</head>

<body class="bg-base-300">
  <div class="navbar shadow-lg p-6 bg-base-100">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost normal-case text-4xl">Weather App</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <label class="swap swap-rotate mx-8" id="darkbutton">
          <input type="checkbox" id="darkmode" />
          <svg id="moon" class="swap-on fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z" />
          </svg>
          <svg id="sun" class="swap-off fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z" />
          </svg>
        </label>
        <li><a href="#HourlyChart">Hourly Forecast</a></li>
        <li><a href="#Days7Chart">7 Day Forecast</a></li>
      </ul>
    </div>
  </div>
  <script>
    var htmlTag = document.getElementById("html");
    var themeBtn = document.getElementById("darkmode");

    const darkMode = () => {
      htmlTag.setAttribute("data-theme", "dark");
    }
    const lightMode = () => {
      htmlTag.setAttribute("data-theme", "garden")
    }

    themeBtn.addEventListener("click", () => {
      // Get the value of the "dark" item from the local storage on every click
      setDarkMode = localStorage.getItem('dark');
      if (setDarkMode !== "on") {
        darkMode();
        // Set the value of the itwm to "on" when dark mode is on
        localStorage.setItem('dark', 'on');
      } else {
        lightMode();
        // Set the value of the item to  "null" when dark mode if off
        localStorage.setItem('dark', 'off');
      }
    });

    // Get the value of the "dark" item from the local storage
    let setDarkMode = localStorage.getItem('dark');

    // Check dark mode is on or off on page reload
    if (setDarkMode === 'on') {
      darkMode();
      document.getElementById('moon').classList.remove('swap-on');
      document.getElementById('moon').classList.add('swap-off');
      document.getElementById('sun').classList.remove('swap-off');
      document.getElementById('sun').classList.add('swap-on');
    }
  </script>
  <section class="mt-12">
    <div class="flex align-center justify-center">
      <div class="flex w-8/12 flex-col lg:flex-row lg:w-full gap-3 align-center justify-center">
        <div class="card shadow-md bg-base-100 lg:w-1/3">
          <div class="card-body max-w-lg">
            <h2 class="card-title text-2xl" id="date"> </h2>
            <h3 class="card-title" id="time"></h3>
            <form action="/" method="post">
              <input type="text" name="city" placeholder="Location" autocomplete="off"
                class="input input-bordered input-primary w-full" autofocus>
              <div class="card-actions justify-end">
                <button class="btn btn-primary mt-3" type="submit">Search</button>
              </div>
            </form>
          </div>
        </div>
        <script type="text/javascript">
          var offset = <%= offset %>;
          var dateUnix = new Date().getTime();
          var date = new Date(dateUnix + offset);
          var dateEl = document.getElementById("date");
          dateEl.innerHTML = date.toLocaleString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });

          function updateDate() {
            var unix = new Date().getTime();
            var date1 = new Date(unix + offset);
            var timeEl = document.getElementById("time");
            timeEl.innerHTML = date1.toLocaleTimeString('en-US' {timeZone: 'UTC', hour: '2-digit', minute: '2-digit', second: '2-digit'});
          }

          setInterval(updateDate, 500);

        </script>
        <div class="card card-side shadow-md bg-primary text-primary-content ">
          <div class="card flex justify-center align-center">
            <figure>
              <img src="http://openweathermap.org/img/wn/<%= current.weather[0].icon %>@4x.png" alt="">
            </figure>
            <p class="text-center"><%= current.weather[0].description %></p>
            </div>
            <div class="card-body w-96">
              <h2 class="card-title break-normal"><%= label %></h2>
              <h3 class="card-title text-2xl">
                <div class="tooltip tooltip-right" data-tip="Temperature">
                  <i class="fa-solid fa-temperature-half"></i> <%= weather.current.temp %> &#176;C
                </div>
              </h3>
              <p>Feels like <%= (current.feels_like).toFixed(2) %> &#176;C</p>
              <h6 class="card-text">
                <div class="tooltip tooltip-right" data-tip="Pressure">
                  <i class="fa-solid fa-gauge-high"></i> <%= (current.pressure * 0.0009869233).toFixed(2) %> atm
                </div>
              </h6>
              <h6 class="card-text">
                <div class="tooltip tooltip-right" data-tip="Humidity">
                  <i class="fa-solid fa-droplet"></i> <%= current.humidity %> %
                </div>
              </h6>
              <h6 class="card-text">
                <div class="tooltip tooltip-right" data-tip="Wind Speed">
                  <p class="card-text"><i class="fa-solid fa-wind"></i> <%= current.wind_speed %> m / sec</p>
                </div>
              </h6>
            </div>
          </div>
      </div>
    </div>
  </section>

  <span class="anchor" id="HourlyChart"></span>
  <section class="pt-16 ">
    <div class="w-full xl:w-10/12 xl:mb-0 px-4 mx-auto mt-6">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-2xl bg-base-100">
        <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
          <div class="flex flex-wrap items-center">
            <div class="relative w-full max-w-full flex-grow flex-1">
              <h6 class="uppercase mb-1 text-2xl font-semibold"> Hourly Forecast </h6>
            </div>
          </div>
        </div>
        <div class="p-4 flex-auto">
          <div class="relative ">
            <canvas id="hourly" style="display: block; height: 350px; width: 791px;" width="1582"
              height="700"></canvas>
          </div>
        </div>
      </div>
    </div>
  </section>
  <span class="anchor" id="Days7Chart"></span>
  <section class="pt-16 ">
    <div class="w-full xl:w-10/12 xl:mb-0 px-4 mx-auto mt-6">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-2xl bg-base-100">
        <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
          <div class="flex flex-wrap items-center">
            <div class="relative w-full max-w-full flex-grow flex-1">
              <h6 class="uppercase mb-1 text-2xl font-semibold"> 7 Day Forecast </h6>
            </div>
          </div>
        </div>
        <div class="p-4 flex-auto">
          <div class="relative h-350-px">
            <canvas id="daily" style="display: block; height: 350px; width: 791px;" width="1582"
              height="700" class="chartjs-render-monitor"></canvas>
          </div>
        </div>
      </div>
    </div>
  </section>


  <script>
    Chart.defaults.color = "Gray"

    const hourlydata = {
      labels: [
      <% (hourlyData.labels).forEach((time) => { %>
        '<%= time %>',
      <% }); %>
    ],
    datasets: [
      <% (hourlyData.datasets).forEach((dataset) => { %>

    {
      type: '<%= dataset.type %>',
      label: '<%= dataset.label %>',
      data: [
            <% (dataset.data).forEach((data) => { %>
              <%= data %>,
            <% }) %>
          ],
      backgroundColor: '<%= dataset.backgroundColor %>',
      borderColor: '<%= dataset.borderColor %>',
      borderWidth: <%= dataset.borderWidth %>,
      borderJoinStyle: 'round',
          <% if (dataset.yAxisID) { %>
        yAxisID: '<%= dataset.yAxisID %>',
          <% } %>
        tension: 0.4,
          pointStyle: 'rectRounded',
            pointRadius: 7,
              pointHoverRadius: 10
    },

      <% }); %>
    ]
}

    const dailydata = {
      labels: [
        <% (dailyData.labels).forEach((time) => { %>
        '<%= time %>',
        <% }); %>
      ],
    datasets: [
        <% (dailyData.datasets).forEach((dataset) => { %>

    {
      type: '<%= dataset.type %>',
      label: '<%= dataset.label %>',
      data: [
                <% (dataset.data).forEach((data) => { %>
                  <%= data %>,
                <% }) %>
              ],
      backgroundColor: '<%= dataset.backgroundColor %>',
      borderColor: '<%= dataset.borderColor %>',
      borderWidth: <%= dataset.borderWidth %>,
      borderJoinStyle: 'round',
            <% if (dataset.yAxisID) { %>
        yAxisID: '<%= dataset.yAxisID %>',
            <% } %>
        tension: 0.4,
          pointStyle: 'rectRounded',
            pointRadius: 7,
              pointHoverRadius: 10

    },

        <% }); %>
      ]
}



    const ctx = document.getElementById('hourly');
    const hourlyChart = new Chart(ctx, {
      // type: 'line',
      data: hourlydata,
      options: {
        bezierCurve: true,
        maintainAspectRatio: false,
        layout: {
          padding: 10
        },
        scales: {
          x: {
            title: {
              display: true,
              text: 'Time'
            }
          },
          y: {
            beginAtZero: false,
            // display: false,
          },
          yAxes: [{
            id: "left-y-axis",
            type: "linear",
            position: "left",
          }, {
            id: "right-y-axis",
            type: "linear",
            position: "right",
          },
          ],
        }
      }
    });

    const ctx2 = document.getElementById('daily');
    const dailyChart = new Chart(ctx2, {
      // type: 'line',
      data: dailydata,
      options: {
        bezierCurve: true,
        maintainAspectRatio: false,
        responsive: true,
        layout: {
          padding: 10
        },
        scales: {
          x: {
            title: {
              display: true,
              text: 'Date'
            }
          },
          y: {
            beginAtZero: false
          },
          yAxes: [{
            id: "right-y-axis",
            type: "linear",
            position: "right",
          }],
        }
      }
    })

  </script>
  <footer class="footer p-10 bg-base-100 text-base-content mt-12">
    <div>
      <i class="fa-solid fa-dice-two fa-5x"></i>
      <p>Ketan Padal &amp; Team<br>&copy; 2022-23</p>
    </div> 
    <div>
      <span class="footer-title">FrontEnd</span> 
      <a class="link link-hover" href="https://www.chartjs.org/">Chart.js</a> 
      <a class="link link-hover" href="https://tailwindcss.com/">Tailwind CSS</a> 
      <a class="link link-hover" href="https://daisyui.com/">Daisy UI</a> 
      <a class="link link-hover" href="https://fontawesome.com/ ">Font Awesome</a> 
      <a class="link link-hover" href="https://fonts.google.com/">Google Fonts</a> 
    </div> 
    <div>
      <span class="footer-title">Backend</span> 
      <a class="link link-hover" href="https://nodejs.org/en/">Node.js</a> 
      <a class="link link-hover" href="https://ejs.co/">EJS (Template engine)</a> 
    </div> 
    <div>
      <span class="footer-title">API</span> 
      <a class="link link-hover" href="https://openweathermap.org/">OpenWeatherMap (Weather)</a> 
      <a class="link link-hover" href="https://positionstack.com/">positionstack (Geocoding)</a>
    </div>
  </footer>
</body>

</html>